/* ---------------------------------------모바일 레이아웃 시작 */
#wrap {
    min-width:320px;
    /* width:440px; */
    /* 1. 전체레이아웃의 너비를 고정(px)이 아닌 가변형(%)으로 만들기 */
    /* 2. 화면너비가 너무 작아지면 레이아웃이 깨지므로 최소 여기까지만 작아져야한다는 뜻으로 CSS 최소너비 설정하기 */
    margin:var(--spacing-auto);
    min-height:956px; /* 피그마 최소높이제한(그 이상은 max-content(Hug) 기본 */
    background-color: aqua; /* min-height의 값을 줬기 때문에 아쿠아 컬러로 표시 */
}
/* ---------------------------------------1행 제목+후원 */
#wrap .intro {
    background-image: url(../images/bg1.png);
    background-size: cover; /* 피그마 - 채우기 */
    background-position:center;
    position: relative; /* after에 들어간 absolute의 기준위치 */
    
}
#wrap .intro::after { /* 이미지 위 깔리는 반투명 그라데이션용도 가상선택자 */
    background: var(--color-gradient-dark);
    content:''; display:block;
    width:100%; height:100%; /* 부모의 가로,세로 값이랑 똑같은 크기를 주겠다는 의미 */
    position: absolute; left:0; top:0; z-index:90;
}
#wrap .intro .container {
    height:589px;/* 실제 내용태그들을 묶는 레이아웃태그에 크기 입력 권장 */
    position: relative;
    z-index:100;
}
#wrap .intro .container .logo {
    width:var(--icon-lg);
    position: absolute;
    left:15px; top:54px;
}
#wrap .intro .container .logo img {width:100%;}
#wrap .intro .container .title {
    font-size:var(--m-font-size-lg);
    color:var(--color-light);
    font-weight: var(--m-font-weight-m);
    text-align: center;
    line-height:var(--line-heihgt-md);
}
#wrap .intro .container .btn_g {
    gap:10px;
    position: absolute;
    bottom:50px;
}
#wrap .intro .container .btn_g a {}
#wrap .intro .container .btn_g a::after{}
#wrap .intro .container .btn_g .sponser_btn {
    
}
#wrap .intro .container .btn_g .sponser_qna_btn {}
/* --------------------------------------------2행 퀴즈 */
#wrap .quiz {
    background-image: url(../images/quiz_bg.png);
    /* 반응형 큰 배경이미지 사용 시 권장 속성:값(배경크기, 배경위치)  */
    padding:50px 15px;
    background-size:cover; /* 피그마 이미지-채우기 :cover */
    background-position:center top;
}
#wrap .quiz .container {}

#wrap .quiz .container > * {}
/* --------------------------------------------2행 퀴즈 2-1 퀴즈 */
#wrap .quiz .container #quiz_frm {
}
#wrap .quiz .container #quiz_frm > * {
    margin-bottom: 15px;
}
#wrap .quiz .container #quiz_frm * {
    color:var(--color-light);
}
#wrap .quiz .container #quiz_frm h2 {font-size:var(--m-font-size-lgs);}
#wrap .quiz .container #quiz_frm h3 {font-size:var(--m-font-size-base);}
#wrap .quiz .container #quiz_frm .quiz_list {
}
#wrap .quiz .container #quiz_frm .quiz_list li {margin-bottom: 10px;}
#wrap .quiz .container #quiz_frm .quiz_list li:nth-child(4) {margin:0;}
#wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g] {display:none;}
/* --------------------------------------------input체크상태에 따른 이미지 변경 */
#wrap .quiz .container #quiz_frm .quiz_list li input[name=quiz_g]:checked + label {
    background-image: url(../images/quiz_on.svg);
    background-repeat: no-repeat;
    background-size: var(--icon-lgs);
    
}
#wrap .quiz .container #quiz_frm .quiz_list li label {
    background-image: url(../images/quiz_off.svg);
    background-repeat: no-repeat;
    font-size:var(--m-font-size-base);
    padding-left:30px;
    line-height:var(--line-heihgt-mdt); display:block;
}
#wrap .quiz .container #quiz_frm p {
}
#wrap .quiz .container #quiz_frm p #quiz_btn {
    background-color: var(--color-dark);
    font-size:var(--m-font-size-sm);
    border-radius: var(--border-r-md);
    width:100%;
    height:50px;
    text-align: center;
}

/* --------------------------------------------2행 퀴즈 2-2 현황 */
#wrap .quiz .container .quiz_status {}
#wrap .quiz .container .quiz_status .situation  {
    border:1px solid var(--color-primary);
    border-radius: var(--border-r-xs);
    overflow: hidden;
    text-align: center;
}
#wrap .quiz .container .quiz_status .situation dt  {
    font-size:var(--m-font-size-base);
    color:var(--color-light);
    background-color: var(--color-primary);
    padding:8px 0;
}
#wrap .quiz .container .quiz_status .situation dd  {
    background-color: var(--color-light);
    padding:40px 0;
    font-size:var(--m-font-size-lgs);
    font-weight: var(--font-weight-sm);
}
#wrap .quiz .container .quiz_status .situation dd em  {
    color:var(--color-primary);
    font-weight: var(--font-weight-sm);
}
#wrap .quiz .container .quiz_status .update  {
    margin-top: 10px;
    color:var(--color-light);
    text-align: right;
}
/* --------------------------------------------2행 퀴즈 오답박스 */
#wrap .quiz .answer_popup_bg {
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:100;
}
#wrap .quiz .answer_popup_bg .answer_box {
    width:280px; height:150px;
    background-color: var(--color-light);
    position: relative; /* 기준 */
}
#wrap .quiz .answer_popup_bg .answer_box #answer_close_btn {
    position: absolute; right:12px; top:13px; /* 기준을 따라 움직이는 대상 */
}
#wrap .quiz .answer_popup_bg .answer_box #answer_close_btn img {width:100%;}
#wrap .quiz .answer_popup_bg .answer_box h2 {font-size: var(--t-font-size-base);}
#wrap .quiz .answer_popup_bg .answer_box p {text-align:center;font-size:var(--m-font-size-sm);}
/* ---------------------------------------------------3행 비디오 */
#wrap .video_bg {
    background-image: url(../images/video_bg.png);
    background-size: cover;
    background-position: center bottom;
}
#wrap .video_bg .container {
    padding:60px 15px;
    gap:20px;
}
#wrap .video_bg .container h1 {
    font-size:var(--m-font-size-lgs);
    text-align: center;
}
#wrap .video_bg .container .video {
    width:100%;
    max-width: 1120px;
    /* 16:9 비율 조정 속성 */
    aspect-ratio:16 / 9; /* 연산자 앞뒤에(예시: 16 / 9) 공백을 넣어줘야 함 */
}
#wrap .video_bg .container .video iframe {
    width:100%; height: 100%; /* 부모 비율 상대적으로 따라가게 만들기 */
}
#wrap .video_bg .container .sponser_btn {}
/* -----------------------------------------------------4행 감소 내용 시작 */
#wrap .contents {
    background-image: url(../images/50_bg.png);
    background-size: cover;
    background-position: center top;
}
#wrap .contents .container {
    padding:70px 15px;
}
#wrap .contents .container * {color:var(--color-light);}
#wrap .contents .container h1 {
    font-size: var(--m-font-size-lgs);
    margin-bottom: 25px;
    display:flex; flex-flow:column nowrap;
}
#wrap .contents .container h1 span {}
#wrap .contents .container h1 span em {
    color:var(--color-dark);
    position:relative;
    z-index: 50;
}
#wrap .contents .container h1 span em::after {
    background: var(--color-light);
    width:100%; height:80%;
    content:''; display:block;
    position: absolute;
    left:0; bottom:0; z-index: -1;
} 
#wrap .contents .container h1+ p {
    font-size:var(--m-font-size-sm);
    margin:30px 0 60px;
    /* margin-bottom: 25px; */
    line-height: var(--line-heihgt-mdt);
}
#wrap .contents .container p:nth-child(3) {}
#wrap .contents .container p:nth-child(3) img {width:100%;}