/* 반응형 미디어쿼리 규칙 */
/* @media screen and (minmax규칙) {실행선택자와값} */
/* index.css 모바일 기본상태 */
/* 모바일로 시작했기 때문에 responsive.css에선 점점 큰값을 설계하는 순서로 진행한다. */
/* 미디어쿼리 규칙 내에서 작성하는 선택자는 해당 규칙이상일 때 달라지는 디자인값만 작성한다. */
/* 기존(이전 규칙)과 동일한 디자인 모습은 작성하지 않으면 자동으로 유지된다. */
@media screen and (min-width:760px){/* 760이상일때(태블릿모습시작) */
    /* 선택자 {속성:값; 속성:값;} */
    #wrap {
        min-height:1080px;
    }
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height:713px;
    }
    #wrap .intro .container .logo {
        width:var(--icon-xl); left:60px; top:64px;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--t-font-size-lg);
    }
    #wrap .intro .container .btn_g {
        gap:0; 
        position: static;
        /* absolut 해제목적의 변경값 -> relative(포지션 기능 살리고 싶을때, z-index,left,top 등 옵션 사용필요) */
        /* absolut 해제목적의 변경값 -> static(포지션 기능 해제(위 옵션불가)) */
        bottom:0;
    }
    #wrap .intro .container .btn_g a {
        padding:0;
        border-radius:0;
    }
    #wrap .intro .container .btn_g a::after {
        width:8px; height:16px; 
    }
    #wrap .intro .container .btn_g .sponser_btn {
        font-size:var(--t-font-size-sm);
        padding:12px 40px;
        border-radius: 50px;
    }
    #wrap .intro .container .btn_g .sponser_qna_btn {
        font-size:var(--t-font-size-sm);
        padding:4px 10px;
        border-radius: 15px;
        position: absolute; right:60px; bottom:65px;
    }
}/* e:min760 */
/* ---------------------------------------태블릿-> 데스크탑 */
@media screen and (min-width:1120px) {/* 1120이상일때 */
    #wrap {}
    #wrap .intro {}
    #wrap .intro::after {}
    #wrap .intro .container {
        height:939px; max-width:1120px; margin:var(--spacing-auto);
    }
    #wrap .intro .container .logo {
        left:0;
    }
    #wrap .intro .container .logo img {}
    #wrap .intro .container .title {
        font-size:var(--d-font-size-lg);
    }
    #wrap .intro .container .btn_g {}
    #wrap .intro .container .btn_g a {}
    #wrap .intro .container .btn_g a::after {}
    #wrap .intro .container .btn_g .sponser_btn {
        font-size:var(--d-font-size-sm);
        border-radius: 50px;
    }
    #wrap .intro .container .btn_g .sponser_qna_btn {
        font-size:var(--d-font-size-sm);
        padding:3px 15px;
        border-radius: 15px;
        right:0; bottom:71px;
    }
} /* e-min */